@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Playwrite+HU:wght@100..400&display=swap');

table
{
    width: 100%;
    border-collapse: collapse;
   /* margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 0;*/
    margin: 10px;
}

td,th
{
    border: 0.5px solid black;
    padding-left: 10px;
}

h1,h2,h3
{
color: white;
background-color: red;

}

body
{
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p 
{
  text-align: center;
}
div{

  text-align: center;
  display: flex;
  justify-content: center;

}
img
{
  display: flex;
  justify-content: center;
  border: 8px solid brown;
  border-radius: 60%;
}
button
{
   font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
background-color: green;
color: black;
border: 0.5px solid black;
padding: 2px;
  
}
button:hover,
input[type="submit"]:hover
{
background-color: green;
color: black;
 }


ul
{
  font-size: 18px;
  color: white;
  text-align: center;

}

a{
  color: green;
  text-decoration: none;
  opacity: 0;
  transition: all 1s ease;
}
a:hover{
  text-decoration: underline;
  opacity: 1;
}